<div class="form_main_flame">
  <span class="form_signup_h1">创建账户</span>
  <div class="form_signup_flame">
    <span class="form_signup_h2">小伙伴们快来注册吧!</span>
    <span class="form_back">或者  <%= link_to '登录', users_path ,class: "form_back_font"%></span>
    <%= render 'form' %>
  </div>
  <div class="signup_other"></div>
</div>
