
<div class="contact_top_box">
  <span class="index_use_h" style="text-align: center">ABOUT US</span>
  <span class="contact_top_box_p">我们是宇宙第一的创作团队，我们有最酷炫的架构和设计，人也长的帅，欢迎有志之士加入我们的宇宙团队。</span>
</div>

<span class="base_content_box extra_index_left">
  <h2>技术支持</h2>
   <span class='contact_developer_box'>
     <div style="margin: 0 auto; ">
       <span class='contact_user_avatar'>
         <%= image_tag "unbrella.jpg", style: 'width:50px; height:50px;' %>
       </span>
       <%= link_to @yzt.name, @yzt %>
     </div>
     <p>架构、UI设计与实现</p>
     <a href='http://www.baidu.com' target='_blank'> 查看他的主页</a>
   </span>
</span>
<span class="base_content_box extra_index_right">
  <h2>运营支持</h2>
   <span class='contact_developer_box'>
     <div style="margin: 0 auto; ">
       <span class='contact_user_avatar'>
         <%= image_tag "unbrella.jpg", style: 'width:50px; height:50px;' %>
       </span>
       <%= link_to @yzt.name, @yzt %>
     </div>
     <p>宣传、运营</p>
   </span>
</span>
