<div class="contact_top_box">
  <span class="index_use_h" style="text-align: center">ABOUT US</span>
  <span class="contact_top_box_p">我们是宇宙第一的创作团队，我们有最酷炫的架构和设计，人也长的帅，欢迎有志之士加入我们的宇宙团队。</span>
</div>

<span class="base_content_box extra_index_left">
     aaas
</span>
<span class="base_content_box extra_index_right">
    asdf
</span>
