<span class="index_use_h">
  <p class="how_to_use">&nbsp&nbsp如何使用</p>
</span>
<div style="width: 100%">
<span class="base_content_box extra_index_left">
  <%= image_tag "step1.jpg", style: 'display: block; max-height: 460px; max-width: 456px; margin: 40px auto 0 auto; >' %>
  <p>创建个性'微计划'，公开微计划将分享给大家，私有微计划仅自己可见。</p>
</span>
<span class="base_content_box extra_index_right">
  <%= image_tag "step2.jpg", style: 'display: block; max-height: 460px; max-width: 400px; margin: 40px auto 0 auto' %>
  <p>创建'里程碑'计划子目标，通过改变'里程碑'进度管理'微计划'。</p>
</span>
<span class="base_content_box extra_index_left">
  <%= image_tag "step3.jpg", style: 'display: block; max-height: 460px; width: 440px; margin: 60px auto 0 auto' %>
  <p>在每个‘里程碑’中的记录，能与好友互相分享评论</p>
</span>
<span class="base_content_box extra_index_right">
  <%= image_tag "step4.jpg", style: 'display: block; height: 300px; margin: 60px auto 0 auto' %>
  <p>分享到社交网站，与好友分享观点、成就...</p>
</span>
</div>