<span class="index_use_h">
  <p class="how_to_use">&nbsp&nbsp如何使用</p>
</span>
<div style="width: 100%">
<span class="base_content_box extra_index_left">
  <b>个性'微计划'</b>
  <p>创建公开微计划，<br>好东西分享给大家。<br>创建私有微计划，<br>自己的专属备忘录。</p>
  <span>
    <%= image_tag "step1.jpg", style: 'display: block; height: 300px; max-width: 500px; margin: 0;' %>
  </span>
</span>
<span class="base_content_box extra_index_right">
  <b>计划'里程碑'</b>
  <p>通过里程碑来管理<br>'微计划'子目标；<br>记录心得，抒发感<br>想，展示计划进度。</p>
  <span>
    <%= image_tag "step2.jpg", style: 'display: block; height: 240px; max-width: 500px; margin: 0 0 0 -20px;' %>
  </span>
</span>
<span class="base_content_box extra_index_left">
  <b>收藏,拷贝,评论</b>
  <p>相互讨论，相互<br>学习，相互进步；<br>喜欢的计划，敬请<br>收藏或拷贝。</p>
  <span>
    <%= image_tag "step3.jpg", style: 'display: block; height: 320px; max-width: 500px; margin: -30px 0 0 -46px;' %>
  </span>
</span>
<span class="base_content_box extra_index_right">
  <b>分享到站外</b>
  <p>让更多的小伙伴见证，<br>让更多的人携手在米er。</p>
  <span>
    <%= image_tag "step4.jpg", style: 'display: block; height: 300px; max-width: 500px; margin: -20px 0 0 0;' %>
  </span>
</span>
</div>