<span class="index_use_h">
  <p>&nbsp&nbsp如何使用</p>
</span>
<div style="width: 100%">
<span class="base_content_box extra_index_left">
  aaas
</span>
<span class="base_content_box extra_index_right">
  asdf
</span>

</div>