<span class="index_use_h">
  <p>&nbsp&nbsp如何使用</p>
</span>
<div style="width: 100%">
<span class="base_content_box extra_index_left">
  <p>创建个性'微计划'，公开微计划将分享给好友，私有微计划仅自己可见。</p>
</span>
<span class="base_content_box extra_index_right">
  <p>描述计划中的小目标，通过'里程碑'管理微计划进度</p>
</span>
<span class="base_content_box extra_index_left">
  <p>创建个性'微计划'，公开微计划将分享给好友，私有微计划仅自己可见。</p>
</span>
<span class="base_content_box extra_index_right">
  <p>描述计划中的小目标，通过'里程碑'管理微计划进度</p>
</span>
</div>