    <div class="service_terms_box">
      <h1 class="title">“米er”服务条款和隐私协议</h1>
  <p class="title2">欢迎使用米er</p>
  <p class="text_content">感谢您使用我们的产品和服务，本服务由“米er”提供，您完成我们网站的注册程序即表示同意我们的服务条款和隐私协议，请仔细阅读。“米er”服务条款和隐私协议会随时更新，“米er”将不负责另行通知。</p>
  </br>
  <p class="title2">米er账户</p>
  <p class="text_content">用户应负责妥善保管自己的“米er”账户和密码，对以其用户帐号进行的所有活动和事件负法律责任。如用户发现其帐号遭他人非法使用，应立即通知”米er”。因黑客行为或用户违反本协议规定导致帐号、密码遭他人非法使用的，由用户本人承担因此导致的损失和一切法律责任，”米er”不承担任何责任。</p>
  </br>
  <p class="title2">使用服务</p>
  <p class="text_content">用户在使用”米er”服务时，必须遵守中华人民共和国相关法律法规的规定和“米er”的服务条款协议。用户注册成功后，”米er”将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。用户应同意将不会利用本服务进行任何违法或不正当的活动，包括但不仅限于下列行为∶
    （1）上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：
    ① 反对宪法所确定的基本原则的；
    ② 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
    ③ 损害国家荣誉和利益的；
    ④ 煽动民族仇恨、民族歧视、破坏民族团结的；
    ⑤破坏国家宗教政策，宣扬邪教和封建迷信的；
    ⑥ 散布谣言，扰乱社会秩序，破坏社会稳定的；
    ⑦散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
    ⑧侮辱或者诽谤他人，侵害他人合法权利的；
    ⑨含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
    ⑩含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；
    （2）不得为任何非法目的而使用网络服务系统；
    （3）不利用”有渔”服务从事其他任何违反法律法规和扰乱网络正常秩序的其他行为。
    用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户同意赔偿”有渔”与合作公司、关联公司，并使之免受损害。对此，”有渔”有权视用户的行为性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、回收”有渔”帐号、追究法律责任等措施。对恶意注册”有渔”帐号或利用”有渔”帐号进行违法活动、捣乱、骚扰、欺骗以及其他违反本协议的行为，”有渔”有权回收其帐号。同时，”有渔”公司会视司法部门的要求，协助调查。
    用户不得对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。
    用户须对自己在使用”有渔”服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在”有渔”公司首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予”有渔”公司等额的赔偿。
  </p>
  </br>
  <p class="title2">隐私保护</p>
  <p class="text_content">我们不会向第三方组织出售、交易或者转移您的任何个人身份信息。我们也可能会公布您的信息，如果我们发现您违反了法律规定、米er服务条款或任何其他产品及服务的使用规定。另外，非个人身份信息有可能会提供给第三方组织以用于市场行为、广告或者其他用途。</p>
  </br>
  <p class="title2">版权保护</p>
  <p class="text_content">“米er”对您在本服务提交的内容没有所有权，这些内容的所有权仍然归您所有。但是，如果您将页面或资源设置为共享或在公众板块发表发表内容，就意味着您允许其他人查看和共享您的内容。
    用户承诺对于用户通过”米er”服务（包括但不限于资源管理等）上传到”米er”网站上可公开获取区域的所有内容 (即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等) 不侵犯任何第三人的知识产权，未经相关权利人之事先书面同意，用户不得以任何方式上传、发布、修改、传播或复制任何受著作权保护的材料、商标或属于其他人的专有信息。用户承诺对上传的所有内容均享有完整的知识产权，或者已经得到相关权利人的合法授权；如用户违反本条规定造成”有渔”被第三人索赔的，用户应全额补偿”有渔”一切费用(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用)。
    当第三方认为用户发表或者上传于”米er”网站的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向”米er”发送权利通知书时，用户同意”米er”可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，”米er”将不会自动恢复上述删除的信息。
    如用户在使用网络服务时违反上述任何规定，”米er”有权要求用户改正或直接采取一切必要的措施(包括但不限于删除用户张贴的内容、暂停或终止用户使用网络服务的权利)以减轻用户不当行为而造成的影响。
  </p>
  <br/>
  <p class="title2">修改和终止服务</p>
  <p class="text_content">“米er”产品和服务的内容由“米er”根据实际情况提供。我们始终在不断更改和改进我们的服务，您可能随时享受更新有渔提供的最新产品和服务。
    同时您也可以选择随时终止服务。
    此外，“米er”可随时在某些情况下，不需事先通知，立即终止或暂停您所有或部分帐户和/或本服务之进入。此类服务终止的原因包括但不限于：
    •	违反本服务条款；
    •	您要求取消或终止您的帐户；
    •	需要听从法庭传票、法律命令或遵循法律程序；
    •	突发的自然灾害导致的问题，以及其他一切不可预见原因；
  </p>
  <br/>
  <p class="title2">免责申明</p>
  <p class="text_content">因网络服务特殊性，”米er”不保证网络服务的及时性、安全性和准确性，用户同意”米er”有权不经事先通知，随时变更、中断或终止部分或全部的网络服务。而无论同意与否，”米er”对用户和任何第三人均无需承担任何责任。
    对于经由”米er”服务而传送的内容，”有渔”不保证前述内容的正确性、完整性或品质。用户在接受有关服务时，有可能会接触到令人不快、不适当或令人厌恶的内容。在任何情况下”米er”均不对任何内容负责，包括但不限于任何内容发生任何错误或纰漏以及衍生的任何损失或损害。”米er”有权（但无义务）自行拒绝或删除经由本服务提供的任何内容。用户使用上述内容，应自行承担风险。
    用户可通过”米er”有关网络服务获得第三方的某些内容，或者”米er”可能为方便用户而提供通往第三方网站的链接，但”米er”不负责检查或评估任何该等第三方材料、产品、服务或网站内容的准确性，并且，”米er”对此不作保证、不承担任何责任、也不负有任何义务。用户对此自行加以判断，并承担因使用该等内容而引起的所有风险，包括但不限于因对内容的正确性、完整性或实用性的依赖而产生的风险。
    用户明确同意其使用”米er”服务所存在的风险及其后果将完全由其自己承担，”米er”对用户不承担任何责任。如因用户违反有关法律、法规或本协议项下的任何条款而给”米er”或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。
  </p>
  <br/>
  <p class="title2">解释权</p>
  <p class="text_content">本服务条款和隐私协议的最终解释权归“米er”所有。</p>
  <br/>
  <p class="title2">青少年用户特别提示</p>
  <p class="text_content">青少年用户必须遵守全国青少年网络文明公约：
    要善于网上学习，不浏览不良信息；要诚实友好交流，不侮辱欺诈他人；要增强自护意识，不随意约会网友；要维护网络安全，不破坏网络秩序；要有益身心健康，不沉溺虚拟时空。
  </p>
  <br/>	
    </div>