
body, div, pre, form, blockquote,
dl, dt, dd,
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
body, html{height: 100%;height: 100%}
a {cursor: pointer; outline: none;}
img { border: 0; }  //for IE
div {display: block}
body, input, select, textarea, a, div,{
  font-family: "MICROSOFT YAHEI", Helvetica, Arial, Sans-serif;
  font-size: 15px;
  color: #212121
}

input { maxlength: 80 }
textarea { maxlength: 500 }

li{ list-style-type: none}

body{ background-color: #FDFDFD; }

.image_helper{ float: right; position: absolute; margin: 11px 80px;background-image: image-url("icon/help.png"); background-color: #4A525C; width: 26px; height: 26px; border: 1px solid #cccccc; border-radius: 2px}

//共用button
.base_button {  border: none;  background-color:#67B4B1;  -moz-border-radius:15px;  -webkit-border-radius:15px;  border-radius:4px;  display:inline-block;  cursor:pointer;  color:#ffffff;  font-family:arial;  font-size:15px;  padding:8px 20px;  text-decoration:none;  outline: none;  font-weight: bold;}
//.base_button:hover {  border-bottom:1px solid #18ab29;  position:relative;  top:-1px;}
.base_button:active {  border: none;  position:relative;  top:1px;}

header{ position: fixed;  top: 0;  width: 100%;  background-color: #444;  color: #FFF;opacity: 0.92; filter:alpha(opacity=92); z-index: 999}

header div{ margin-bottom: 4px;  background-color: #212121;  height: 60px;}

header div div{ min-width: 1000px; margin: 0 auto;}

header div a{ margin: -4px 5px 0 5px;  line-height: 60px;  float: right;  height: 60px;  border-top: 4px solid #444;  text-decoration: none;  cursor: pointer;  color: #FFF;  padding: 0;}

header div a:hover{ background-color: #111;  border-bottom: 4px solid #E46A3F; }

.scaffold_overall{ min-height: 100%; width: 100%; margin: 0 auto;}

.scaffold{ height: auto; width: 1000px;  margin: 30px auto;
  //border: 1px solid #888;
  border-radius: 4px;  padding: 0;}

.scaffold_top{ width: 100%;height: 64px}
.scaffold_footer{ width: 100%;height: 64px}

footer{  display: block;  margin-top: -64px;  height: 64px;  width: 100%;  background-color: #49565D;}

.logo{ float: left; margin-left: 10px; height: 60px }

.flash{ display: 100%;height: 40px;line-height: 40px;background-color: lightgreen;margin: 0;text-align: center;font-weight: 600}

.success{ background-color: #67B4B1 }

.failed{ background-color: lightcoral}

.state_public { background-color: #67B4B1 }

.state_private { background-color: lightcoral }

.display_inline{ display: inline; }

.display_inline_block {display: inline-block; }


