
body, div, pre, form, blockquote,
dl, dt, dd,
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
body, html{height: 100%;height: 100%}
a {cursor: pointer}
div {display: block}
body, input, select, textarea, a, div,{
  font-family: "MICROSOFT YAHEI", Helvetica, Arial, Sans-serif;
  font-size: 15px;
  color: #130c0e
}

body{background-color: #E7E7E7}
.base_button {
  border: none;
  background-color:#44c767;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  padding:7px 20px;
  text-decoration:none;
  outline: none;
  font-weight: bold;
}
.base_button:hover {
  border-bottom:1px solid #18ab29;
  position:relative;
  top:-1px;

}
.base_button:active {
  border: none;
  position:relative;
  top:1px;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #444;
  color: #FFF;
}

header div{
  margin-top: 4px;
  background-color: #333;
  height: 80px;
}

header div a{
  margin: -4px 5px 0 5px;
  line-height: 80px;
  float: right;
  height: 80px;
  border-top: 4px solid #444;
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  padding: 0 20px;
}

header div a:hover{
  background-color: #111;
  border-top: 4px solid #2D2C2C;
  //border-top: 4px solid #E46A3F;
}

.scaffold{
  width: 920px;
  margin: 60px auto;
  border: 2px solid #666;
  border-radius: 4px;
  padding: 40px;
}

.scaffold_top{
  height: 84px;
  width: 100%;
}

