// Place all the styles related to the milestones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.milestones { display: inline-block; vertical-align: top;width: 660px;margin: 15px 0 0 8px;border: 1px solid #cccccc; border-radius: 2px;box-shadow: 0 1px 2px 0 #cccccc; -webkit-box-shadow:0 1px 2px 0 #cccccc; background-color: #F1F1F1; }

.milestones_first_line { height: 50px; padding-left: 10px ;line-height: 50px; font-size: 20px; border-bottom: 1px solid #cccccc; font-weight: 600; color: #4A525C }

#milestone_list { background-color: #ffffff }

#milestone_list span { display: block; padding: 10px; border-bottom: 1px solid #cccccc; }

.milestones_undo { color: #fdfdfd }

.milestones_doing { background-color: #FDFDFD; }

.milestones_finished { background-color: #4A525C; color: #fdfdfd }

.milestones_finished a{ color: #fdfdfd }

.milestones_undo a,.milestones_doing a,.milestones_finished a{ float: right; width: 26px; height: 26px; color: #fdfdfd; text-align: center; }

.new_milestone { display: inline-block; margin: 10px;  }

.new_milestone_form { display: none;width: 500px; margin: 0 auto; padding: 10px; background-color: #4A525C;border-radius: 2px;line-height: 2.0em; color: #fdfdfd }

.new_milestone_form input[type='text'] { padding: 0 10px; height: 30px; width: 360px; }

.new_milestone_form span { display: block;margin: 10px auto;text-align: center; font-size: 16px; }

.new_milestone_form_button { display: block; margin: 20px auto; }

.delete_milestone { background-image: image-url('icon/delete.png'); }

.undo_state { background-image: image-url('icon/play.png') }

.doing_state_delete_milestone { background-image: image-url('icon/delete_black.png') }

.doing_state { background-image: image-url('icon/tick_black.png') }

.finished_state { display: block;background-image: image-url('icon/return.png'); width: 24px; height: 24px }
