// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.projects{ width: 100%; }

.projects ul{ display:inline-block; width: 310px; padding: 0; margin-left:15px; vertical-align: top; }

.projects ul li{ display:inline-block; margin-bottom: 15px; border-radius: 2px;box-shadow: 0px 1px 2px 0 #ccc; -webkit-box-shadow: 0px 1px 2px 0 #ccc;
  transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -webkit-transition: margin 0.2s;
  -o-transition: margin 0.2s; }

.projects ul li div { box-shadow: 0 2px 4px 0 #bbb; -webkit-box-shadow:0 2px 4px 0 #bbb; background-color: #4A525C; }

.project_span { display:inline-block; width: 290px; padding: 10px;}

.project_name { width: 295px;margin-left: -5px; box-shadow: 0 1px 2px 0 #4A525C; -webkit-box-shadow:0 1px 2px 0 #4A525C;font-size: 16px; color: #FDFDFD; word-break: keep-all;white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.project_description { font-size: 14px; color: #FDFDFD; text-align: justify; text-justify: inter-ideograph; overflow: hidden; }

.project_milestone { display:inline-block; width: 290px; padding: 10px; background-color: #ffffff; }

.project_comments { background-color: #f1f1f1; margin-top: 2px; }

.projects ul li.can_hover:hover { margin-top: -4px; margin-bottom: 19px; box-shadow: 1px 3px 15px #aaa; }

.projects ul li.can_hover:active { margin-top: 0px; margin-bottom: 15px; }

.new_project { display: block; height: 290px; width: 290px; padding: 10px;text-align: center;line-height: 50px;border-radius: 2px;font-size: 20px;color: #666666; cursor: pointer;overflow: hidden; background-color: #F1F1F1;
  -moz-user-select:-moz-none;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s; }

.new_project:hover { background-color: #FDFDFD; color: #4A525C; }

.new_project b { display: block;font-size: 100px;font-weight: 600;margin-top: 50px;line-height: 120px; }

#new_project_form { display: none; height: 442px; }

#new_project_form div { margin: -10px 0 0 -10px; width: 308px; font-size: 16px; }

#new_project_form p { background-color: #67B4B1; color: #ffffff; margin: 0; line-height: 50px; height: 50px; }

#new_project_form input { display: block; padding: 0 10px; width: 288px; height: 40px; background-color: #F1F1F1; color: #4A525C; border: none}

#new_project_form textarea { display: block; padding: 0 10px; width: 288px; height: 80px; background-color: #f1f1f1; color: #4A525C; border: none}

[for='project_is_public_true']:hover { font-weight: 600 }

[for='project_is_public_true'] { float: left; width: 153px; color: #fdfdfd; cursor: pointer; background: #67B4B1; }

[for='project_is_public_false']:hover { font-weight: 600 }

[for='project_is_public_false'] { float: left; width: 154px; color: #fdfdfd; cursor: pointer; border-right:1px solid #fdfdfd; }

#new_project_form input[name='commit'] { display: block; width: 100%; height: 50px;margin: 50px auto 0 auto; color: #fff;background-color: transparent; cursor: pointer;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s; }

#new_project_form input[name='commit']:hover { font-weight: 600;background: #67B4B1; }

#new_project_form input#new_project_form_cancel { display: block; width: 100%; height: 50px; margin: 0 auto 20px auto; color: #fff;background-color: transparent; cursor: pointer; outline: none;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s; }

#new_project_form input#new_project_form_cancel:hover { font-weight: 600;background: #F08080; }

.extra_project_new_form_border { border: 1px solid #cccccc }

.back_to_projects { float: right; margin: 10px; }

[data-flag="edit_project"] { display:inline-block; box-shadow: 0 1px 2px 0 #4A525C; -webkit-box-shadow:0 1px 2px 0 #4A525C;background-color: #4A525C; float: left; height: 40px; width: 154px; text-align: center; color: #fdfdfd; border-right: 1px solid #cccccc;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s; }

[data-flag="delete_project"] { display:inline-block; box-shadow: 0 1px 2px 0 #4A525C; -webkit-box-shadow:0 1px 2px 0 #4A525C;background-color: #4A525C;float: left; height: 40px; width: 155px; text-align: center; color: #fdfdfd;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s; }

a[data-flag="edit_project"]:hover { background-color: #67B4B1; }

a[data-flag="delete_project"]:hover { background-color: #F08080; }

.milestone_state { float: right; width: 66px; text-align: center; font-weight: normal; color: #4A525C; line-height: 42px; }

a[data-flag='all'] { border-top: 4px solid #E6764E;}

a[data-flag='doing'] { border-top: 4px solid #fdfdfd; }

a[data-flag='finished'] { border-top: 4px solid #4A525C; }

.milestone_state:hover { font-weight: 600 }

dt.milestone_flag { display: none }
