// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_signup_flame, .form_signin_flame { border:1px solid #BDBDBD; display:block; width:736px; height: 500px; margin: 60px auto 0 auto; padding:32px; background-color: #fdfdfd }

.form_signup_button { padding:7px 54px; display:block; margin-top:16px; margin-left:64px; }

.form_signin_button { padding:8px 35px; display:block; margin-top:30px; }

.edit_password_box { display: block; margin: 0 auto 0 auto; width:320px; padding:16px; margin-top:20px; background-color: #F5F5F5; border:1px solid #E4E4E4; }

.form_box_signup {  float:left; clear:left; width:320px; padding:16px; margin-top:20px; background-color: #F5F5F5; border:1px solid #E4E4E4; }

.form_box_signin { float:left; clear:left; width:320px; height:310px; padding:16px; margin-top:20px; background-color: #F5F5F5; border:1px solid #E4E4E4; }

.form_input { display:block; padding: 0 10px; width:295px; height:38px; border:1px solid #E5E5E5; font-size:15px; }

.form_box_h1 { display:block; border-bottom:1px solid #ccc; width:736px; height:48px; font-size:25px; }

.form_box_h2 { display:block; width:318px; height:24px; border-bottom:1px solid #ccc; }

.form_input_font { display:block; margin-top:14px; font-size:15px; }

.form_input_error { display:block; width:290px; line-height:30px; background-color:lightcoral; text-align: center; margin-left:15px; }

.form_back { float:right; margin-top:-24px; }

.signup_agreement { display:block; margin-top:10px; margin-left:10px; }

.signup_agreement a { text-decoration:none; color: blue}

//.form_back a:hover { text-decoration:underline; }

.form_back_font { color:blue; text-decoration: none; }

.field_with_errors { border:1px solid lightcoral; }

.signup_other { float:right; width:340px; height:376px; margin-top:20px; }

.other_icon { float:left; width:70px; height:70px; }

.other_box_word { float:left; width:260px; height:70px;	margin-left:10px; }

.other_box_h { font-weight:bold; display:block; }

.other_box_p { margin-top:10px;	display:block; }

.other_box2 { margin-top:100px; }

.other_box3 { margin-top:200px; }

.other_box4 { color:#747474; font-size:18px; display:block;  margin-top:300px; }

.forget_code:link { text-decoration:none; color:blue; }

.forget_code { display:block; margin-top:20px;  margin-left:5px; }

.shadow_bottom { display: block; margin : 0 auto; }

.user_detail { display: inline-block; vertical-align: top;width: 100%;margin: 15px 0 0 8px; }

.detail_first_line { height: 50px; padding-left: 10px ;line-height: 50px; font-size: 20px;  font-weight: 600; color: #4A525C }

.edit_user_detail { margin: 10px }

#user_detail_avatar { background-color: #ffffff; }

.user_detail_information { margin: 20px auto; padding: 20px; width: 600px; background-color: #FDFDFD; text-align: center; border: 1px solid #BDBDBD }

.detail_user_name { font-weight: bold;font-size: 19px; }

.user_detail_description { width: 80%; word-break: break-all; white-space: pre-line; }

.detail_extra_form { margin-bottom: 30px; }

.user_show_list { margin-top: 20px; }

.user_show_list > b { display: block; width: 950px; margin: 0 auto; padding-top: 30px; border-top: 1px solid #cccccc; font-size: 17px }

