// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_signup_flame
{
border:1px solid #BDBDBD;
display:block;
width:736px;
height:470px;
margin-top:5px;
margin-left:68px; 
padding:32px;
}
.form_signin_flame
{
border:1px solid #BDBDBD;
display:block;
width:736px;
height:480px;
margin-top:5px;
margin-left:68px; 
padding:32px;
}

.form_signup_button
{
padding:7px 54px;
display:block;
margin-top:16px;
margin-left:64px;
}
.form_signin_button
{
padding:16px 35px;
display:block;
margin-top:30px;
}


.form_box_signup
{
 float:left;
 clear:left;
 width:320px;
 height:360px;
 padding:16px;
 margin-top:20px;
 background-color: #F5F5F5;
 border:1px solid #E4E4E4;
}

.form_box_signin
{
 float:left;
 clear:left;
 width:320px;
 height:310px;
 padding:16px;
 margin-top:20px;
 background-color: #F5F5F5;
 border:1px solid #E4E4E4;
}

.form_input
{
display:block;
padding: 0 10px;
width:295px;
height:38px;
border:1px solid #E5E5E5;

font-size:15px;
}

.form_box_h1
{
display:block;
border-bottom:1px solid #ccc;
width:736px;
height:48px;
font-size:25px;
}

.form_box_h2
{
display:block;
width:318px;
height:24px;
border-bottom:1px solid #ccc;
}
.form_input_font
{
display:block;
margin-top:14px;
font-size:15px;

}
.form_input_error
{ 
 display:block;
 width:290px;
 height:30px;
 background-color:lightcoral;
 padding-left:10px;
 line-height:30px;
 margin-left:7px;
}
.form_back
{ 
 float:right;
 margin-top:-24px;
}
.signup_agreement
{
  display:block;
  margin-top:10px;
  margin-left:10px;
}

.signup_agreement a:link
{
  text-decoration:none;
}
.form_back a:hover
{
  text-decoration:underline;
}
.form_back_font
{
  color:blue;
}
.field_with_errors
{
  border:1px solid lightcoral;
}

.signup_other
{
 float:right;
 width:340px;
 height:376px;
 margin-top:20px;
}

.other_icon
{
	float:left;
	width:70px;
	height:70px;
}
.other_box_word
{
	float:left;
    width:260px;
	height:70px;
	margin-left:10px;
}
.other_box_h
{   
    font-weight:bold;
	display:block;
}

.other_box_p
{
    margin-top:10px;
	display:block;
}

.other_box2
{
	margin-top:100px;
}
.other_box3
{
	margin-top:200px;
}
.other_box4
{
  color:#747474;
  font-size:18px;
  display:block;
  margin-top:300px;
}

.forget_code:link
{
   text-decoration:none;
   color:blue;
}
.forget_code
{
  display:block;
  margin-top:20px;
  margin-left:5px;
}
.shadow_bottom
{
  margin-left:68px; 
}

.user_detail { display: inline-block; vertical-align: top;width: 660px;margin: 15px 0 0 8px;border: 1px solid #cccccc; border-radius: 2px;box-shadow: 0 1px 2px 0 #cccccc; -webkit-box-shadow:0 1px 2px 0 #cccccc; background-color: #F1F1F1; }

.detail_first_line { height: 50px; padding-left: 10px ;line-height: 50px; font-size: 20px; border-bottom: 1px solid #cccccc; font-weight: 600; color: #4A525C }

.edit_user_detail { margin: 10px }

