<footer>
  <div>
    <a class="about_us" href="<%= about_path %>">米er制作团队<br>联系我们: mealit@yeah.com</a>
    <a class="footer_extra" onselectstart="return false" href="<%= about_path %>">关于我们</a>
    <a class="footer_extra" onselectstart="return false" href="<%= tips_path %>">图片帮助</a>
    <a class="footer_extra" onselectstart="return false" href="<%= terms_path %>">使用条款</a>
  </div>
</footer>